@model List<Doctors>
@{
    ViewData["title"] = "Doctors";
}
<div class="container">
    <div class="row-cols-12">
        <a asp-controller="Doctors" asp-action="Add" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">NDC Number</th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>@doc.FullName</td>
                        <td>@doc.Address</td>
                        <td>@doc.Phone</td>
                        <td>@doc.NDCNumber</td>
                        <td>@doc.Qualification</td>
                        <td>@doc.Specialization</td>
                        <td>@doc.Gender</td>
                        <td>@doc.DOB.ToLongDateString()</td>
                        <td>
                            <a asp-controller="Doctors" asp-action="Update" asp-route-id="@doc.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            ||
                            <a asp-controller="Doctors" asp-action="Delete" asp-route-id="@doc.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
